! special
*.foreground:   #98d1ce
*.background:   #0a0f14
*.cursorColor:  #98d1ce

! black
*.color0:       #0a0f14
*.color8:       #10151b

! red
*.color1:       #c33027
*.color9:       #d26939

! green
*.color2:       #26a98b
*.color10:      #081f2d

! yellow
*.color3:       #edb54b
*.color11:      #245361

! blue
*.color4:       #195465
*.color12:      #093748

! magenta
*.color5:       #4e5165
*.color13:      #888ba5

! cyan
*.color6:       #33859d
*.color14:      #599caa

! white
*.color7:       #98d1ce
*.color15:      #d3ebe9

xterm*termname: xterm-256color
xterm*locale: true
xterm*cursorblink: true
xterm*foreground: #98d1ce
xterm*background: #0a0f14

xterm*faceName: ShureTechMono\ Nerd\ Font:style=Regular
xterm*faceSize: 13

! Every shell is a login shell by default (for inclusion of all necessary environment variables)
xterm*loginshell: true

! I like a LOT of scrollback...
xterm*savelines: 16384

! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! DOS-box colours...

rofi.location:          0
rofi.color-enabled:     true
!                       'background', 'border'
rofi.color-window:      #0a0f14, #c33027, #c33027, #98d1ce

! State:                'bg',          'fg',   'bgalt',       'hlbg',        'hlfg'
rofi.color-normal:      argb:00333333, #98d1ce, argb:00333333, argb:00333333, argb:fff4d68c
rofi.color-urgent:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:fff4d68c
rofi.color-active:      argb:00333333, #ffffff, argb:00333333, argb:00333333, argb:fff4d68c
rofi.separator-style:   solid
rofi.fullscreen:        false
rofi.padding:           5
rofi.hide-scrollbar:    true
rofi.line-margin:       5
rofi.fake-transparency: true
rofi.yoffset:           0
rofi.xoffset:           0
rofi.width:             480
rofi.opacity:           90
rofi.font:              ShureTechMono\ Nerd\ Font 14

Xft.autohint: 1
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
