!##########################################
!#                 Colors                 #
!##########################################

! special
*.foreground:   #dfdfdf
*.background:   #070e14
*.cursorColor:  #dfdfdf

! black
*.color0:       #0d1a26
*.color8:       #25374a

! red
*.color1:       #dc322f
*.color9:       #dc322f

! green
*.color2:       #a2ba00
*.color10:      #a2ba00

! yellow
*.color3:       #efb500
*.color11:      #efb500

! blue
*.color4:       #268bd2
*.color12:      #268bd2

! magenta
*.color5:       #d33682
*.color13:      #d33682

! cyan
*.color6:       #32beb3
*.color14:      #32beb3

! white
*.color7:       #dfdfdf
*.color15:      #dfdfdf


!##########################################
!#                   Rofi                 #
!##########################################

rofi.location:          0
rofi.color-enabled:     true
!                       'background', 'border'
rofi.color-window:      #070e14, #c33027, #c33027, #26a98b

! State:                'bg',          'fg',   'bgalt',       'hlbg',        'hlfg'
rofi.color-normal:      #070e14, #98d1ce, argb:00333333, #070e14, #26a98b
rofi.color-urgent:      #070e14, #ffffff, argb:00333333, #070e14, #26a98b
rofi.color-active:      #070e14, #ffffff, argb:00333333, #070e14, #26a98b
rofi.separator-style:   solid
rofi.fullscreen:        false
ofi.padding:           20
rofi.lines:             5
rofi.hide-scrollbar:    true
rofi.line-margin:       5
rofi.fake-transparency: false
rofi.yoffset:           0
rofi.xoffset:           0
rofi.width:             300
rofi.opacity:           90
rofi.font:              Hack 14

!##########################################
!#                 URxvt                  #
!##########################################

! General settings
URxvt.saveLines: 2000
URxvt.scrollBar: False
URxvt.scrollstyle: rxvt
URxvt.termName: xterm-256color
URxvt.urgentOnBell: True
URxvt.cursorBlink: False

! Extensions
URxvt.perl-ext-common: default,clipboard,keyboard-select,url-select
URxvt.urlLauncher: xdg-open
URxvt.urlButton: 1
URxvt.underlineURLs: True

URxvt.copyCommand:  xclip -i -selection clipboard
URxvt.pasteCommand: xclip -o -selection clipboard

! Keybindings
!URxvt.keysym.Mod4-c: perl:clipboard:copy
!URxvt.keysym.Mod4-v: perl:clipboard:paste
!URxvt.keysym.Mod4-C-v: perl:clipboard:paste_escaped
!URxvt.keysym.M-c: perl:clipboard:copy
!URxvt.keysym.M-v: perl:clipboard:paste
!URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
!URxvt.keysym.M-Escape: perl:keyboard-select:activate
!URxvt.keysym.C-Escape: perl:keyboard-select:activate
!URxvt.keysym.M-u: perl:url-select:select_next

!URxvt.font: xft:Roboto Mono Nerd Font:style=Regular:size=14
!URxvt.boldFont: xft:Roboto Mono Nerd Font:style=Regular:size=14
URxvt*font: xft:Hack:size=14
URxvt*lineSpace: 0
URxvt*.letterSpace: 0
!##########################################
!#                 Xterm                  #
!##########################################

! General settings
XTerm*termName: xterm-256color
XTerm*geometry: 80x24
XTerm*saveLines: 1024
XTerm*scrollBar: False
XTerm*loginshell: False
XTerm*cursorBlink: True

! Fonts and Encoding
XTerm*utf8: True
XTerm*locale: True
XTerm*utf8Title: True
XTerm*renderFont: True
XTerm*preeditType: Root
XTerm*xftAntialias: true
!XTerm*faceName: xft:Terminus For Powerline-14
XTerm*faceName: Shure Tech Mono Nerd Font
XTerm*faceSize:14
! Trim trailing spaces
XTerm*trimSelection: true

! Fix alt-key inputting
XTerm*eightBitInput: false
XTerm*metaSendsEscape: true

! Copy and paste with clipboard
XTerm*translations: #override \
	Ctrl Shift <KeyPress> C: copy-selection(CLIPBOARD) \n\
	Ctrl Shift <KeyPress> V: insert-selection(CLIPBOARD)

! Allow selecting email/url by double-click
XTerm*charClass: 33:48,37-38:48,45-47:48,64:48,58:48,126:48,61:48,63:48,43:48,35:48

!----------------
!  Xft Settings
!----------------

Xft*dpi: 82
Xft*antialias:  true
Xft*hinting:    true
Xft*rgba:       rgb
Xft*autohint:   false
Xft*hintstyle:  hintfull
Xft*lcdfilter:  lcddefault
